[package]
name = "tokio-imap"
version = "0.4.0"
authors = ["Dirkjan Ochtman <dirkjan@ochtman.nl>"]
description = "Tokio-based IMAP protocol (client, for now) implementation"
documentation = "https://docs.rs/tokio-imap"
keywords = ["imap", "tokio"]
categories = ["email"]
homepage = "https://github.com/djc/tokio-imap"
repository = "https://github.com/djc/tokio-imap"
license = "MIT/Apache-2.0"
readme = "../README.md"
edition = "2018"

[badges]
azure-devops = { project = "dochtman/Projects", pipeline = "tokio-imap", build = "4" }
maintenance = { status = "passively-maintained" }

[dependencies]
bytes = "0.4"
futures = "0.1"
futures-state-stream = "0.1"
imap-proto = { version = "0.9", path = "../imap-proto" }
native-tls = "0.2"
nom = "5"
tokio = "0.1"
tokio-codec = "0.1"
tokio-tls = "0.2"

[dev-dependencies]
tokio-current-thread = "0.1"
