[package]
name = "tokio-imap"
version = "0.5.0"
authors = ["Dirkjan Ochtman <dirkjan@ochtman.nl>"]
description = "Tokio-based IMAP protocol (client, for now) implementation"
documentation = "https://docs.rs/tokio-imap"
keywords = ["imap", "tokio"]
categories = ["email"]
homepage = "https://github.com/djc/tokio-imap"
repository = "https://github.com/djc/tokio-imap"
license = "MIT/Apache-2.0"
readme = "../README.md"
edition = "2018"

[badges]
maintenance = { status = "passively-maintained" }

[dependencies]
bytes = "0.6"
futures-util = "0.3.1"
futures-sink = "0.3.1"
imap-proto = { version = "0.12", path = "../imap-proto" }
nom = "6"
pin-project = "1"
tokio = { version = "0.3.0", features = ["net"] }
tokio-rustls = "0.20.0"
tokio-util = { version = "0.5.0", features = ["codec"] }
webpki-roots = "0.20.0"

[dev-dependencies]
tokio = { version = "0.3.0", features = ["macros", "net", "rt-multi-thread"] }
