[package]
name = "tokio-imap"
version = "0.5.0-alpha.1"
authors = ["Dirkjan Ochtman <dirkjan@ochtman.nl>"]
description = "Tokio-based IMAP protocol (client, for now) implementation"
documentation = "https://docs.rs/tokio-imap"
keywords = ["imap", "tokio"]
categories = ["email"]
homepage = "https://github.com/djc/tokio-imap"
repository = "https://github.com/djc/tokio-imap"
license = "MIT/Apache-2.0"
readme = "../README.md"
edition = "2018"

[badges]
azure-devops = { project = "dochtman/Projects", pipeline = "tokio-imap", build = "4" }
maintenance = { status = "passively-maintained" }

[dependencies]
bytes = "0.4"
futures = { version = "0.3.0-alpha.19", package = "futures-preview" }
imap-proto = { version = "0.9.1", path = "../imap-proto" }
nom = "5"
tokio = "0.2.0-alpha.6"
tokio-rustls = "0.12.0-alpha.4"
webpki-roots = "0.18.0"
